<ul style="padding-right: 2em;">
  <li class="table-header">    
    <div class="col col-1">Url</div>
    <div class="col col-2">Short Url</div>
    <div class="col col-3">Created By</div>
    <div class="col col-4">Created Time</div>    
  </li>
  <li class="table-row">    
    <div class="col col-1">{{ currentShortUrl?.url }}</div>
    <div class="col col-2">{{ currentShortUrl?.shortUrl }}</div>
    <div class="col col-3">{{ currentShortUrl?.createdBy }}</div>
    <div class="col col-4">{{ currentShortUrl?.createdTime }}</div>
  </li>
</ul>
