<div *ngIf="!ShortUrlsInfo">Loading...</div>
<div *ngIf="ShortUrlsInfo" class="container" style="font-size: 15px;">
  <ul class="ul-cont">
    <li class="table-header">
      <div class="col col-1">Url</div>
      <div class="col col-2">Short Url</div>
      <div class="col col-3">Info</div>
    </li>
    <li *ngFor="let url of ShortUrlsInfo" class="table-row">
      <div class="col col-1">
        <a href="">{{url?.url}}</a> 
      </div>
      <div class="col col-2">
        <a href="">{{url?.shortUrl}}</a>      
      </div>
      <div class="col col-3">
        <a href="">Url Info</a>
      </div>
    </li>
  </ul>
</div>
