<header style="font-size: 15px;">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a routerLink="" class="nav-link text-dark">Main</a>
          </li>
          <li class="nav-item">
            <a href="https://localhost:7139/About" class="nav-link text-dark">About</a>
          </li>
        </ul>
      </div>
      <div>
        <a routerLink="/logIn" class="nav-link text-dark">LogIn</a>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
